/* *, *::before, *::after {
    box-sizing: border-box;
} */

body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    
    padding: 30px;
}

.contenedorNumeroPregunta{
    display: flex;
    justify-content: center;
}

.numeroPregunta{

    width: 300px;
    text-align: center;
    border: 2px solid #F8F688;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px #F8F688;
    color:  yellow;
    -webkit-text-stroke: .8px black;
    background-color: #8ED6FF;
    padding: 10px;

}

.formulario{

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #F8F688;
    border-radius: 10px;
    background-color: #8ED6FF;
    padding: 20px;

}

.imagenPreguntas{
    max-width: 800px;
    max-height: 300px;
    background-color: white;
    padding:10px;
    border-radius: 10px;
    border: 2px solid #F8F688;

}



legend{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    padding: 15px 20px 15px 20px;
    margin: 15px auto 30px auto;
    border-radius: 5px;
    border:2px solid #41b6fa;
    box-shadow: 0 0 20px 1px #41b6fa;
    background-color: yellow;
    color: rgb(255, 0, 0);
    text-align: center;
}

.divRespuestas{
    margin-top: -10px;
}

button{

    width: 250px;
    height: 40px;
    font-size: 12px;
    /* opacity: 0; */
    margin: 10px auto 30px auto;
    border-radius: 10px;
    outline: none;
    border:2px solid #41b6fa;
    box-shadow: 0 0 10px .5px #41b6fa;
    background-color: yellow;
    color: rgb(255, 0, 0);
    
    
}

button:hover{

    outline: none;
    border-radius: 15px;
    border: 2px solid #41b6fa;
    box-shadow: 0 0 20px 1px yellow;
    background-color:#41b6fa;
    color: white;
}

.green{

    color: white;
    background-color: green;
}

.red{

    color: white;
    background-color: red;
}

.contenedorLogo{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    transform: translate(0px,190px);
    
    
    
}

.logo{
    
    position: relative;
    z-index: 99;
    max-width: 150px;
    max-height: 150px;
    
}




.titulo{

    position: relative;
    
    text-align: center;
    transform: translate(-10px,110px);
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(107, 233, 255);
    

    
    /* color: yellow; */
    
}

.divEmpezar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(0px, -10px);
    position: relative;
}

.start{

    width: 250px;
    height: 40px;
    /* opacity: 0; */
    /* margin: 10px 200px 10px auto; */
    outline: none;
    border-radius: 10px;
    border-color: #41b6fa;
    box-shadow: 0 0 20px 1px yellow;
    background-color: #8ED6FF;
    color: white;
    
}

.start:hover{

    outline: none;
    border-radius: 10px;
    border-color:  #41b6fa;
    box-shadow: 0 0 20px 1px #41b6fa;
    background-color: rgb(255, 255, 96);
    color: red;
    
}

#contenedorNickName{
    display: flex;
    justify-content: center;
    transform: translate(0px,65px);
}

#registrarNick{
    width: 100px;
    height: 30px;
    /* opacity: 0; */
    /* margin: 10px 200px 10px auto; */
    font-size: 10px;
    outline: none;
    border-radius: 5px;
    border-color: #41b6fa;
    box-shadow: 0 0 10px 0.2px yellow;
    background-color: #8ED6FF;
    color: white;
    margin-left: 20px;
    
}
#registrarNick:hover{
    outline: none;
    border-color:  #41b6fa;
    box-shadow: 0 0 20px 1px #41b6fa;
    background-color: rgb(255, 255, 96);
    color: red;
}

#nickNameBox{
    height: 20px;
    position: relative;
    transform: translate(5px, 13px);
    border: 2px solid #41b6fa;
    box-shadow: 0 0 10px .5px yellow;
    border-radius: 5px;
    outline: none;
}

.contenedorFadeOut{
    opacity: 1;
    transition: opacity .5s;
    opacity: 0;
    
}

.contenedorHidden{
    visibility: hidden;
}