/* *, *::before, *::after {
    box-sizing: border-box;
} */

/* @-webkit-keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
} */
/* @keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
} */
/* @keyframes sink {
    0% { transform: translateY(0px);  }
    100% { transform: translateY(10px);  }
} */

 @-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-5px);
              transform: translateX(-5px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(5px);
              transform: translateX(5px);
    }
    80% {
      -webkit-transform: translateX(3px);
              transform: translateX(3px);
    }
    90% {
      -webkit-transform: translateX(-3px);
              transform: translateX(-3px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-5px);
              transform: translateX(-5px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(5px);
              transform: translateX(5px);
    }
    80% {
      -webkit-transform: translateX(3px);
              transform: translateX(3px);
    }
    90% {
      -webkit-transform: translateX(-3px);
              transform: translateX(-3px);
    }
  }

  @-webkit-keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  @keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  
  

body {
    background: #D6F6F2;
    font-family: 'Roboto', sans-serif;
    
    padding: 30px;
}

p{
    font-size: 12px;
    color:rgb(82, 131, 139);
}

.contenedorNumeroPregunta{
    display: flex;
    justify-content: center;
}

.numeroPregunta{

    width: 300px;
    text-align: center;
    border: 2px solid #F8F688;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px #F8F688;
    color:  yellow;
    -webkit-text-stroke: .8px black;
    background-color: #8ED6FF;
    padding: 10px;

}

.formulario{

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #F8F688;
    border-radius: 10px;
    background-color: #8ED6FF;
    padding: 20px;

}

.imagenPreguntas{
    max-width: 230px;
    max-height: 300px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #F8F688;

}

input{
    margin: 10px 0 10px 0;
}



legend{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    padding: 15px 20px 15px 20px;
    margin: 15px auto 30px auto;
    border-radius: 5px;
    border:2px solid #41b6fa;
    box-shadow: 0 0 20px 1px #41b6fa;
    background-color: yellow;
    color: rgb(255, 0, 0);
    text-align: center;
}

.divRespuestas{
    margin-top: -5px;
    margin-left: 3px;
    margin-bottom: -10px;
}

button{

    width: 250px;
    height: 40px;
    font-size: 12px;
    /* opacity: 0; */
    margin: 0px auto 15px auto;
    border-radius: 10px;
    outline: none;
    border:2px solid #41b6fa;
    box-shadow: 0 0 10px .5px #41b6fa;
    background-color: yellow;
    color: rgb(255, 0, 0);
    
    
}

button:hover{

    outline: none;
    border-radius: 15px;
    border: 2px solid #41b6fa;
    box-shadow: 0 0 20px 1px yellow;
    background-color:#41b6fa;
    color: white;
}

.green{

    color: white;
    background-color: green;
}

.red{

    color: white;
    background-color: red;
}

.contenedorLogo{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    transform: translate(0px,100px);
    
    
    
}

.logo{
    
    position: relative;
    z-index: 99;
    max-width: 400px;
    max-height: 400px;
    
}

.titulo{

    position: relative;
    
    text-align: center;
    transform: translate(0px,110px);
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(107, 233, 255);
    

    
    /* color: yellow; */
    
}

#contenedorLoginRegister{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

a{

    width: 120px;
    text-align: center;
    color: white;
    background-color: #8EACB7;
    padding: 10px 20px 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 2px 2px 1px 1px  #556970;
    text-decoration: none;
    transform: translateY(0px);
    transition: transform 0.15s ease-in-out, color 0.20s ease-in-out, background-color 0.20s ease-in-out, border-radius 0.20s ease-in-out;
     
}
a:hover,a:active{
    
    transition: transform 0.15s ease-in-out, color 0.20s ease-in-out, background-color 0.20s ease-in-out, border-radius 0.20s ease-in-out;
    width: 120px;
    text-align: center;
    color: #8EACB7;
    background-color: white;
    padding: 10px 20px 10px 20px;
    border: 2px solid #8EACB7;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 1px  #556970;
    text-decoration: none;
    transform: translateY(5px);
}


#linkToLogin{
    margin-bottom: 10px;
}

#linkToRegister{
    margin-top: 10px;
}

#iconRegister{
    margin-right: 10px;
}

#iconLogIn{
    margin-right: 10px;
}

#formRegister{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}

.inputsFormRegister{

    opacity: 0;
    transition: opacity .4s;
    opacity: 1;
    margin-bottom: 20px;
    background: rgba(82, 131, 139, 0.205);
    outline: none;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid rgb(82, 131, 139);
    width: 250px;
    color: rgb(82, 131, 139);
    font-size: 16px;
    padding: 10px;

}::placeholder{
    color: rgb(82, 131, 139);
}:focus{
    border: 2px solid rgb(82, 131, 139);
    box-shadow: 0 0 5px 0 rgb(82, 131, 139);
}

#registrarUsuario{

    width: 150px;
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: #8EACB7;
    padding: 10px 25px 10px 25px;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 2px 2px 1px 1px  #556970;
    text-decoration: none;
    transform: translateY(0px);
    transition: transform 0.15s ease-in-out, color 0.20s ease-in-out, background-color 0.20s ease-in-out, border-radius 0.20s ease-in-out;

}
#registrarUsuario:hover,#registrarUsuario:active{

    transition: transform 0.15s ease-in-out, color 0.20s ease-in-out, background-color 0.20s ease-in-out, border-radius 0.20s ease-in-out;
    border: 2px solid #8EACB7;
    color: rgb(82, 131, 139);
    background-color: white;
    transform: translateY(5px);

}

#linkToLogInRegisterForm{

    background: none;
    color: rgb(46, 74, 78);
    border: none;
    box-shadow: none;
    width: 50px;
    padding: 0;
    text-decoration: underline;

}

#contenedorInputsLogIn{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    
}

#inputEmail{

    margin-bottom: 20px;
    background: rgba(82, 131, 139, 0.205);
    outline: none;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid rgb(82, 131, 139);
    width: 250px;
    color: rgb(82, 131, 139);
    font-size: 16px;
    padding: 10px;

}

#inputPswBox{

    margin-bottom: 20px;
    background: rgba(82, 131, 139, 0.205);
    outline: none;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid rgb(82, 131, 139);
    width: 250px;
    color: rgb(82, 131, 139);
    font-size: 16px;
    padding: 10px;
    
}

#btnLogIn{

    width: 150px;
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: #8EACB7;
    margin-top: 5px;
    padding: 10px 25px 10px 25px;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 2px 2px 1px 1px  #556970;
    text-decoration: none;
    transform: translateY(0px);
    transition: transform 0.15s ease-in-out, color 0.20s ease-in-out, background-color 0.20s ease-in-out, border-radius 0.20s ease-in-out;
}

#btnLogIn:hover, #btnLogIn:active{

    transition: transform 0.15s ease-in-out, color 0.20s ease-in-out, background-color 0.20s ease-in-out, border-radius 0.20s ease-in-out;
    border: 2px solid #8EACB7;
    color: rgb(82, 131, 139);
    background-color: white;
    transform: translateY(5px);
}



.divEmpezar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(0px, -10px);
    position: relative;
}

.ErrorInput{

    margin-bottom: 20px;
    background: rgba(230, 68, 68, 0.205);
    outline: none;
    border: 1px solid rgb(201, 28, 28);;
    border-radius: 5px;
    width: 250px;
    color: rgb(82, 131, 139);
    font-size: 16px;
    padding: 10px;
    -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

}

.greatInput{

    margin-bottom: 20px;
    background: rgba(92, 189, 89, 0.205);
    outline: none;
    border: 1px solid rgb(83, 197, 83);;
    border-radius: 5px;
    width: 250px;
    color: rgb(82, 131, 139);
    font-size: 16px;
    padding: 10px;
    -webkit-animation: blink-1 0.6s both;
	        animation: blink-1 0.6s both;
}


.start{

    width: 250px;
    height: 40px;
    /* opacity: 0; */
    /* margin: 10px 200px 10px auto; */
    outline: none;
    border-radius: 10px;
    border-color: #41b6fa;
    box-shadow: 0 0 20px 1px yellow;
    background-color: #8ED6FF;
    color: white;
    
}

.start:hover,.start:active{

    outline: none;
    border-radius: 10px;
    border-color:  #41b6fa;
    box-shadow: 0 0 20px 1px #41b6fa;
    background-color: rgb(255, 255, 96);
    color: red;
    
}

.contenedorFadeOut{
    opacity: 1;
    transition: opacity .5s;
    opacity: 0;
    
}

.contenedorHidden{
    visibility: hidden;
}

.contenedorAvisoFalloRegistro{
    margin-top: 60px;
    margin-left: 10px;
}

#avisoFalloNick{
    font-size: 11px;
}

